<!doctype html>
<html lang="en">

<head> {% load static%}
  <title>Create_Customer</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'Create_Customer.css' %}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script type="text/javascript">
      function validation() {
        var name = document.getElementById("hname").value;
        var aadhar_no = document.getElementById("haadhar_NO").value;
        var phone_no = document.getElementById("hphone_No").value;
        console.log(hi)
        if (name == "") {
          document.getElementById('spanname').innerHTML = " ** Please fill the username field";
          return false;
        }
        console.log(hi)
        if ((name.length <= 2) || (name.length > 20)) {
          document.getElementById('spanname').innerHTML = " ** Username lenght must be between 2 and 20";
          return false;
        }
        if (!isNaN(name)) {
          document.getElementById('spanname').innerHTML = " ** only characters are allowed";
          return false;
        }
        if (aadhar_no = "") {
          document.getElementById('spanaadhar').innerHTML = " ** Please fill the Aadhar NUmber field";
          return false;
        }
        if (aadhar_no != 13) {
          document.getElementById('spanaadhar').innerHTML = " ** aadhar no must contain 13 numbers";
          return false;
        }
        if (isNaN(aadhar_no)) {
          document.getElementById('spanaadhar').innerHTML = " ** user must write digits only not characters";
          return false;
        }
        if (phone_no == "") {
          document.getElementById('spanphone').innerHTML = " ** Please fill the mobile NUmber field";
          return false;
        }
        if (isNaN(phone_no)) {
          document.getElementById('spanphone').innerHTML = " ** user must write digits only not characters";
          return false;
        }
        if (phone_no.length != 10) {
          document.getElementById('spanphone').innerHTML = " ** Mobile Number must be 10 digits only";
          return false;
        }
      }
    </script>
</head>

<body class="backg">
  <header>
    <h2>Create Account</h2>
  </header>
  <div class="container col-4 form">
    {% if messages %}
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
    {% endif %}
    <div class="col">
      <form name="create_form"  method="POST" action="{% url 'createcustomer' %}"  onsubmit="validation()">
        {% csrf_token %}
        <div class="form-group row">
          <div class="col">
            <label>Name:</label>
            <input type="text" class="form-control" name="htmlname" id="hname" placeholder="Enter name">
            <span id="namespan" class="text-danger font-weight-bold"> </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label>Aadhar No:</label>
            <input type="number" class="form-control" name="htmlaadhar" id="haadhar_NO" placeholder="Enter Aadhar No">
            <span id="aadharspan" class="text-danger font-weight-bold"> </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label>Phone No:</label>
            <input type="number" class="form-control" name="htmlphone" id="hphone_No" placeholder="Enter Phone No">
            <span id="phonespan" class="text-danger font-weight-bold"> </span>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label>Photo:</label>
            <br>
            <input type="file" name="htmlphoto" id="hphoto" placeholder="Upload Photo">
          </div>
        </div>

        <input type="submit" name="submit" class="btn btn-primary" value="Submit">
        <a href="/" class="btn btn-primary" role="submit">Cancel</a>
      </form>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>