.backg {
    background-color:  #ccccff;  
}

.container{
   margin-right: auto;
   margin-left: auto;
   margin-top: auto;
   margin-bottom: auto;
}

/* For Chorme, Opera, Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {    
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h2 {
    padding-top: 4%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
  margin-top: 50px;
}

