.backg{
    background: cadetblue;
}

.container-fluid {
    margin: 20px;
}


.container-sm {
    padding-top: 100px;
    padding-left: 55px; 
}

.container-xs {
    position: absolute;
    right: 0.75px;
    width: 150px;
    bottom: 270px;
    padding-top: 100px; 
}

.container-md {
   padding-top: 300px;
   padding-left: 50px;
}

h5 {
    font-style: italic;
    font-size: large;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}